.enunciado {
    display: flex;
}

.texto {
    font-size: 2.5rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .texto {
        margin-top: 30px;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }
}